{% extends "base.html" %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block styles %}
<style>
  .card{
    color: #012970;
  }
  @media (min-width: 1200px) {

    #main,
    #footer {
      margin-left: 300px;
    }
  }
  #main{
    padding: 20px 30px;
  }
</style>
{% endblock styles %}

{% block content %}

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-12">
        <div class="row">

          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">

              <div class="card-body">
                <h5 class="card-title">Gidrogeologik <span>| quduqlar</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-droplet-half"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ hgwell }}</h6>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Sales Card -->

          <!-- Revenue Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">

              <div class="card-body">
                <h5 class="card-title">Gidromeliorativ <span>| ob'ektlar</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-droplet-half"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ hmwell }}</h6>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Revenue Card -->

          <!-- Customers Card -->
          <div class="col-xxl-4 col-xl-12">

            <div class="card info-card customers-card">


              <div class="card-body">
                <h5 class="card-title">Gidrometeorologik <span>| ob'ektlar</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-droplet-half"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ htwell }}</h6>
                  </div>
                </div>

              </div>
            </div>

          </div><!-- End Customers Card -->

          <!-- Reports -->
          <div class="col-12">
            <div class="card">


              <div class="card-body">
                <h5 class="card-title">Ob'ektlar o'rtacha sathi</h5>

                <!-- Line Chart -->
                <div id="reportsChart"></div>

                <script>
                  document.addEventListener("DOMContentLoaded", () => {
                    new ApexCharts(document.querySelector("#reportsChart"), {
                      series: [{
                        name: 'Gidrogeologik',
                        data: [31, 40, 28, 51, 42, 82, 56],
                      }, {
                        name: 'Gidromeliorativ',
                        data: [11, 32, 45, 32, 34, 52, 41]
                      }, {
                        name: 'Gidrometeorologik',
                        data: [15, 11, 32, 18, 9, 24, 11]
                      }],
                      chart: {
                        height: 350,
                        type: 'area',
                        toolbar: {
                          show: false
                        },
                      },
                      markers: {
                        size: 4
                      },
                      colors: ['#4154f1', '#2eca6a', '#ff771d'],
                      fill: {
                        type: "gradient",
                        gradient: {
                          shadeIntensity: 1,
                          opacityFrom: 0.3,
                          opacityTo: 0.4,
                          stops: [0, 90, 100]
                        }
                      },
                      dataLabels: {
                        enabled: false
                      },
                      stroke: {
                        curve: 'smooth',
                        width: 2
                      },
                      xaxis: {
                        type: 'datetime',
                        categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                      },
                      tooltip: {
                        x: {
                          format: 'dd/MM/yy HH:mm'
                        },
                      }
                    }).render();
                  });
                </script>
                <!-- End Line Chart -->

              </div>

            </div>
          </div><!-- End Reports -->

        </div>
      </div><!-- End Left side columns -->
    </div>
  </section> 


{% endblock content %}

{% block scripts %}
<script>
    document.body.classList.remove('toggle-sidebar');
</script>
{% endblock scripts %}